.slick-slide {
    height: auto; 
  }
.slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
.dots {
    color: rgb(167, 83, 83);
    display: flex;
    flex-direction: row;
}